.panel_wrapper {
  border: 1px solid #333;
  width: auto;
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: scale(.6);
  transition: opacity .2s, transform .2s, visibility .2s;
}

.col_top {
  top: auto;
  bottom: calc(100% + 5px);
}

.col_bottom {
  top: calc(100% + 5px);
  bottom: auto;
}

.col_middle {
  top: 50%;
  bottom: auto;
}

.row_left {
  left: 0;
  right: auto;
}

.row_right {
  left: auto;
  right: 0;
}

.opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}