.content_wrapper {
  padding: 12px 15px;
  line-height: 28px;
  color: #333;
  font-size: 15px;
}

.funcs_wrapper {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}

.func {
  height: 33px;
  flex-grow: 1;
}