.trigger {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #aaa;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  transition: color .3s;
}

.coal {
  color: rgb(69, 69, 69);
}

.silver {
  color: #aaa;
}

.trigger:hover {
  color: #333;
  transition: color .05s;
}

.coal:hover {
  color: #333;
}

.silver:hover {
  color: #333;
}

.trigger.selected {
  color: #333;
}

.coal.selected {
  color: #333;
}

.silver.selected {
  color: #333;
}

.arrow {
  transform: rotate(45deg);
  width: 4px;
  height: 4px;
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
  margin-left: 3px;
  transition: border .3s;
}

.coal .arrow {
  border-bottom: 2px solid rgb(69, 69, 69);
  border-right: 2px solid rgb(69, 69, 69);
}

.silver .arrow {
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
}

.trigger:hover .arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  transition: border .05s;
}

.coal:hover .arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.silver:hover .arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.trigger.selected .arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.coal.selected .arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.silver.selected .arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}