.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.pin_item_wrapper {
  /* transition: transform 1.2s; */
}
.item {
  transition: transform .3s;
  cursor: pointer;
  z-index: 1;
}
.move_trans {
  transition: top .3s, left .3s, transform .3s;
}
.transparent {
  opacity: 0;
}
.opacity_trans {
  transition: top .3s, left .3s, transform .3s;
}

.selected {
  /* filter: contrast(0.5); */
}

.placeholder {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  transition: top .3s, left .3s, transform .3s;
}