.grey_block {
  width: 320px;
  height: 230px;
  border-radius: 12px;
  background-color: rgb(240, 240, 240);
  padding: 24px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.grey_bar {
  width: 200px;
  height: 23px;
  border-radius: 6px;
  background-color: rgb(207, 207, 207);
  transition: width .3s;
}

@media screen and (max-width: 960px) {
  .grey_block {
    width: 100%;
  }
}