.nav_bar_wrapper {
  width: 100%;
  height: 56px;
  /* border-bottom: 1px solid #e4e4e4; */
  /* background-color: #f6f6f6; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 18px;
}

.icon {
  font-size: 22px;
  font-weight: 600;
  color: rgb(243, 97, 60);
  text-shadow: 0 1px rgb(143 27 7), 1px 0px rgb(143 27 7), 1px 1px rgb(143 27 7);
  position: relative;
}

.icon_txt {
  position: relative;
}

.tomato {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.seek {
  /* color: rgb(151, 197, 38);
  text-shadow: 0 1px rgb(112 145 22), 1px 0px rgb(112 145 22), 1px 1px rgb(112 145 22); */
}

.nav_left {
  flex-shrink: 0;
  flex-grow: 0;
}
.nav_middle {
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 18px;
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
}
.nav_right {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.menu_item {
  font-size: 15px;
  color: #aaa;
  position: relative;
  height: 100%;
}

.btn_more_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .nav_middle {
  margin-left: 5px;
}