.list_item {
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  text-align: right;
  height: 33px;
}

.list_item + .list_item {
  border-top: 1px solid #e4e4e4;
}

.panel_hr {
  border: 0;
  border-top: 1px solid #e4e4e4;
  width: auto;
  margin: 5px 15px;
}

/* mobild */

.mobile .list_item {
  text-align: left;
  padding: 0 15px;
  border: 0;
}