body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
  margin: 0;
}
.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.groove_shadow {
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 3px rgb(235, 235, 235), 0 0 rgb(235, 235, 235);

  width: 100%;
  border-radius: 4px;
  padding: 3px 5px;
  line-height: 20px;
  height: 33px;
  box-sizing: border-box;
}