.normal {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #aaa;
  font-size: 15px;
  cursor: pointer;
  transition: border .3s, color .3s;
}

.stretch {
  width: 100%;
  height: 100%;
  text-align: left;
}

.dark {
  color: rgb(69, 69, 69);
}

.normal:hover {
  color: #333;
  transition: border .05s, color .05s;
}

.normal.selected {
  color: #333;
}

.dark:hover {
  color: #222;
}

.dark.selected {
  color: #222;
}